<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

%>
<div class="col-md-6 col-lg-4 pizza-card">
    <div class="thumbnail">
        <% if(pizza.is_new) { %>
            <span class="badge new-badge">Нова</span>
        <% } else if(pizza.is_popular) {%>
            <span class="badge popular-badge">Популярна</span>
        <% } %>
        <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">
        <div class="caption">
            <span class="title">
                <%= pizza.title %>
            </span>
            <div class="type">
                <%= pizza.type %>
            </div>
            <div class="description">
                <%= getIngredientsArray(pizza).join(", ") %>
            </div>
            <div class="columns clearfix">
                <% if(pizza.big_size) {%>
                    <div class="pizza_column big_size">
                        <img src="assets/images/size-icon.svg" alt="Size">

                        <span class="size"><%= pizza.big_size.size%></span>

                        <br><img src="assets/images/weight.svg">
                        <span class="weight"><%= pizza.big_size.weight%></span><br>

                        <div class="price"><%= pizza.big_size.price%></div>
                        <div>грн.</div>
                        <a href="#" class="btn btn-warning" id="buy-big">Купити</a>
                    </div>
                <% } if(pizza.small_size) { %>
                    <div class="pizza_column small_size">
                        <img src="assets/images/size-icon.svg">

                        <span class="size"><%= pizza.small_size.size%></span>

                        <br><img src="assets/images/weight.svg">

                        <span class="weight"><%= pizza.small_size.weight%></span><br>

                        <div class="price"><%= pizza.small_size.price%></div>
                        <div>грн.</div>
                        <a href="#" class="btn btn-warning" id="buy-small">Купити</a>
                    </div>
                <% } %>
            </div>
        </div>

        <!-- Перед тим щоб показати кнопку необхідно переконатися, що піца має великий розмір -->
        <!--<button class="btn btn-primary buy-big">Купити велику</button>-->
    </div>
</div>